* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
    padding: 30px 0;
}

.row {
    margin: 0 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: #1a1a1a;
}

/* Nav */

nav {
  background-color: #c62828;
  height: 100px;
  width: 100%;
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.links {
  gap: 2rem;
  display: flex;
  align-items: center;
}

.link {
  list-style: none;
  color: #f5f7fa;
  transition: all 300ms ease;
  cursor: pointer;
  font-size: 20px;
}

.underline {
    display: inline-block;
    position: relative;
    padding-bottom: 2px;
}

.underline::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #00b2ff;
    transition: width 300ms ease-out;
}

.underline:hover::before {
    width: 100%;
}

.nav__img--wrapper {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.nav__logo {
  width: 100%;
  cursor: pointer;
}

.search__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#search {
  border: none;
  border-radius: 5px;
  height: 25px;
}

.search__button {
  border: none;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
  transition: all 300ms ease;
}

.search__button:hover {
  background-color: #00b2ff;
}

/* Fonts */

.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Landing */

.section__title {
    display: flex;
    justify-content: center;
    font-size: 40px;
}