nav {
  background-color: #c62828;
  height: 100px;
  width: 100%;
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.links {
  gap: 2rem;
  display: flex;
  align-items: center;
}

.link {
  list-style: none;
  color: #f5f7fa;
}

.nav__img--wrapper {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.nav__logo {
  width: 100%;
}

.search__box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-right: 30px;
}

#search {
    border: none;
    border-radius: 5px;
    height: 25px;
}

.search__button {
    border: none;
    border-radius: 5px;
    height: 20px;
}